CONTRACT_ADDRESS=0x4da4D2675e52374639C9c954f4f653887A9972BE

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://dbwcikpfifutkspdnfo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRid2Npa3BmaWZ1dGtzcGRuZm8iLCJyb2xlIjoiYW5vbiIsImlhdCI6MTcxMjYzODE4NSwiZXhwIjoyMDI4MjE0MTg1fQ.qszIk-tklDpkbRINze18H2Yr-NJXHMMNuVPTbkJLoSuA
